:root{
    --main-color : #007580;
    --accent-color : #fed049;
    --sec-color: #282846;
    --black : #021A27;
    --white : #ECF8FE;
    --radius : 20px;
}
* {
    font-family: 'Inter', sans-serif;
}

h1, h2, h3, h4, h5 ,h6 {
    font-family: 'Montserrat', sans-serif;
}

.navbar-custom {
    background-color: transparent;
    transition: all 0.4s ease-in-out;
}

.navbar-custom.active {
    background-color: var(--black);
}

.navbar-custom a {
    color: var(--black);
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    transition: all 0.4s;
}

.navbar-custom #btn-menu {
    color: var(--main-color);
}

.navbar-custom.active a {
    color: var(--white);
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    transition: all 0.4s;
}

.navbar-custom a:hover {
    color: var(--accent-color);
    transform: scale(1.1);
}

.footer-custom {
    background: var(--black);
    color: var(--white);
}
.btn-outline-main {
    border: 2px solid var(--main-color);
    background-color: transparent;
    color: var(--main-color);
    font-weight: 600;
}

.btn-outline-main:hover {
    border: 2px solid var(--main-color);
    background-color: var(--main-color);
    color: var(--white);
}

.btn-outline-accent {
    border: 2px solid var(--accent-color);
    background-color: transparent;
    color: var(--accent-color);
    font-weight: 600;
}

.btn-outline-accent:hover {
    border: 2px solid var(--accent-color);
    background-color: var(--accent-color);
    color: var(--white);
}

#icon-menu {
    transition: all 0.3s ease-in-out;
}

.rotate-90{
    transform: rotate(90deg);
}

.masthead {
    height: 100vh;
    min-height: 500px;
    background: radial-gradient(at top right, rgba(0,117,128,1) 20%, rgba(227,232,232,1) 50%);
    background-position: top right;
}

.tc-main {
    color: var(--main-color);
}

.tc-accent {
    color: var(--accent-color);
}

.tc-black {
    color: var(--black);
}

.tc-white {
    color: var(--white);
}

.tc-sec {
    color: var(--sec-color);
}

.bg-main {
    background-color: var(--main-color) ;
}

.card-category {
    border: 2px solid var(--main-color);
    border-radius: var(--radius);
    padding: 24px 24px;
    position: relative;
    overflow: hidden;
    background-color: transparent;
}

.card-category::before {
    content: "";
    position: absolute;
    top: -40px;
    right: -40px;
    width: 80px;
    height: 80px;
    border-radius: 100%;
    background: radial-gradient(at top right, rgba(0,117,128,1) 20%, rgba(227,232,232,1) 100%);
    z-index: -10;
    transition: all 0.8s ease-in-out;
}

.card-category:hover::before {
    width: 200%;
    height: 200%;
    border-radius: 0%;
}

.ad-card-overlay {
    background-color: #021A2778;
    backdrop-filter: blur(20px);
    transition: all 0.4s ease-in-out;
}

.ad-card-overlay:hover {
    backdrop-filter: blur(0px);
    color: transparent !important;
}

.ad-card-overlay:hover h5 , .ad-card-overlay:hover p {
    transition: all 0.4s ease-in-out;
    color: transparent !important;
}

.p-radius {
    border-radius: var(--radius);
}

.ad-card-overlay button.more {
    position: absolute;
    bottom: 20px;
}

.ad-card-overlay button.like {
    position: absolute;
    bottom: 15px;
    right: 20px;
}

.ad-card-overlay button.like:hover {
    color: var(--main-color);
}

.slick-prev:before , .slick-next:before {
    color: var(--black);
    font-size: 30px;
}

.filter-box {
    background-color: #021A2778;
    backdrop-filter: blur(20px);
    color: var(--black);
    padding: 24px 24px;
    border-radius: var(--radius);
}

#accordionFilter .accordion-button.collapsed {
    background-color: var(--main-color);
}

#accordionFilter .accordion-button {
    background-color: var(--accent-color);
    color: var(--black);
    font-weight: 600;
}

section.range-slider {
    position: relative;
    width: 100%;
    height: 35px;
    text-align: center;
}

section.range-slider input {
    pointer-events: none;
    position: absolute;
    overflow: hidden;
    left: 0;
    top: 15px;
    width: 100%;
    outline: none;
    height: 18px;
    margin: 0;
    padding: 0;
}

section.range-slider input::-webkit-slider-thumb {
    pointer-events: all;
    position: relative;
    z-index: 1;
    outline: 0;
}

section.range-slider input::-moz-range-thumb {
    pointer-events: all;
    position: relative;
    z-index: 10;
    -moz-appearance: none;
    width: 9px;
}

.nav-tabs .nav-link {
    width: 30%;
    background-color: var(--black) ;
    color: var(--white);
    font-weight: 600;
    font-size: 18px;
    border-top-left-radius: var(--radius);
    border-top-right-radius: var(--radius);
}

.nav-tabs .nav-link.active {
    background-color: var(--black) ;
    color: var(--accent-color);
    border: none;
    transform: scale(1.1);
    border: solid 3px var(--accent-color);
    border-bottom: none;
}

.nav-tabs {
    border-bottom: solid 5px var(--black) ;
}

.table-presto {
    --bs-table-bg: var(--black);
    --bs-table-striped-bg: #112d3b;
    --bs-table-striped-color: #fff;
    --bs-table-active-bg: var(--black);
    --bs-table-active-color: #fff;
    --bs-table-hover-bg: var(--black);
    --bs-table-hover-color: #fff;
    color: #fff;
    border-color: #373b3e;
}